

<!DOCTYPE html>
<html>
<head>
  <title>Sinatra MVC</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>🧠 Sinatra MVC App</h1>
  <hr>
  <%= yield %>
  
</body>
</html>